* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  scrollbar-color: #444 rgb(0, 0, 0);
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 20px;
}

.line {
  width: 3px;
  height: 30px;
  background-color: white;
  margin: 0 auto;
}

.line .vertical {
  transform: rotate(90deg);
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
